// .pv-order-detailcard {
.pv-order-status {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}
// }

.pv-order-detail-table {
  td {
    font-weight: 600;
    span {
      color: #6c757d;
    }
  }
}

.pv-orderwarranty-main {
  background-color: #f5f7fa;
  .pv-warranty-tablemain {
    tbody {
      background-color: #fff;
    }
  }
}
.pv-order-preview-model {
  .offcanvas-header {
    padding: 0px;
    background-color: unset;
  }
}

.pv-orderpreview-detail {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  .pv-orderpreview-col {
    background-color: #f5f7fa;
    padding: 10px;
    border-radius: 0.375rem;
    border: 1px solid #cfd8dc;
    .pv-order-status-main {
      display: flex;
      gap: 10px;
    }
  }
}

.pv-order-status-col {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  li {
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    line-height: normal;
    .pv-order-status-dot {
      background-color: var(--bs-2);
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 6px;
    }
    P {
      display: inline-block;
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.pv-order-calculation-card {
  max-width: 20rem !important;
  min-width: 20rem !important;
}

.order-details-accordion-header {
  background-color: #001b5a1a;
}

.order-preview-title-bg {
  background-color: #e5e8ee;
  padding: 10px;
  border-radius: 0.375rem;
  /* box-shadow: 0px 0px 4px #ccc; */
  border: 1px solid #cfd8dc;
}

.order-container-iner {
  border: var(--bs-border-width) var(--bs-border-style) #cfd8dc !important;
}

.order-total-tag {
  background-color: #cfd8dc;
  color: #333;
  border: 1px solid #ababb1;
}

.text-1rem {
  font-size: 1rem;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}
