/** Proxima Nova Fonts **/
@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-SemiboldIt.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src:
    url("~fonts/proxima-nova/ProximaNova-Semibold.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-LightIt.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-Light.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-BoldIt.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-BoldIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: 
    url("~fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src:
    url("~fonts/proxima-nova/ProximaNova-RegularIt.woff2") format("woff2"),
    url("~fonts/proxima-nova/ProximaNova-RegularIt.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/** Proxima Nova Fonts End **/



