.m-prd-sidebar__list {
  @apply flex flex-col gap-4;
}
.m-prdlist-icon {
  mask-image: url('/icon/menu-dropdown-right.svg');
  @apply bg-TextTitle w-6 h-6 rotate-90;
}

.m-prd-slidebar__item.is-open .m-prdlist-icon {
  @apply rotate-[270deg];
}
.m-prd-slidebar__item {
  @apply border border-[#DBDBDB] bg-white rounded;
}

.m-sub-prdname {
  @apply text-slategrey text-sm font-normal capitalize block;
}
.discount-margin-remove {
  @apply mb-0;
}
.m-sub-prdname:not(:last-child) {
  @apply mb-2;
}

.m-sub-prdname {
  @apply text-slategrey text-sm font-normal capitalize block;
}

.pv-m-subprdctnobrand {
  @apply flex items-center justify-center;
}

.m-sub-prdname .m-search__ip {
  @apply border-t-0 border-l-0 border-r-0 rounded-none text-sm pl-6 border-b-[1px] border-b-[#DBDBDB];
  -webkit-appearance: none;
}
.m-sub-prdname .m-search__icon {
  @apply left-1 h-4 w-4 opacity-80;
}

.m-prd-slidebar__item.is-open .m-sub-prdlist {
  @apply block h-fit visible pointer-events-auto transition-all;
}
.m-sub-prditems > div {
  @apply first:mt-0 mt-3;
}

.m-sub-prditems ul {
  @apply list-disc marker:text-[#4D4D4D] ms-5;
}
.m-sub-prditems ul li {
  @apply text-sm;
}
.m-sub-prditems p {
  @apply text-sm;
}
.m-sub-prditems-head {
  @apply font-semibold;
}
.p-prdlist__sidebar .m-sub-prdlist {
  @apply p-[0.625rem] max-h-[18.75rem] overflow-y-auto;
}
.p-prdlist__sidebar .m-sub-prdlist::-webkit-scrollbar-track {
  @apply lg:bg-slate-50;
}
.p-prdlist__sidebar .m-sub-prdlist::-webkit-scrollbar {
  @apply lg:w-1 lg:bg-slate-50;
}
.p-prdlist__sidebar .m-sub-prdlist::-webkit-scrollbar-thumb {
  @apply lg:bg-[#c1c1c1];
}
.m-sub-prdlist {
  @apply h-0 invisible hidden pointer-events-auto;
}
.m-sub-prditems .any-discount-value {
  @apply flex items-center justify-end font-medium mb-1 px-0.5;
}

.m-prd-slidebar__name {
  @apply flex items-center justify-between font-medium capitalize text-14 sm:text-base cursor-pointer text-secondary;
}
.p-prdlist__sidebar .m-prd-slidebar__name {
  @apply bg-[#F6F6F9] p-2;
}

.m-prdlist-icon {
  @apply w-6 h-6 rotate-90;
  mask-image: url('/icon/menu-dropdown-right.svg');
}

.m-sub-prditems .m-sub-prdname:not(:last-child) .input-wrapper-radio {
  @apply mb-0;
}
.m-sub-prditems .m-sub-prdname:not(:last-child) {
  @apply mb-4;
}
.m-prd-slidebar__item.is-open .m-prdlist-icon {
  @apply rotate-[270deg];
}
.m-prd-slidebar__item {
  @apply bg-white;
}
.p-prdlist__sidebar .m-prd-slidebar__item {
  @apply border-2 border-[#eeeeee] rounded;
}

.m-sub-prdname {
  @apply text-slategrey text-sm font-normal capitalize block;
}
.discount-margin-remove {
  @apply mb-0;
}
.pv-m-subprdctnobrand {
  @apply flex items-center justify-center;
}

.color_Varient .ip-chekbox__lable::before {
  @apply hidden;
}

.color_Varient
  .ip-checkbox__wrapper
  .ip-checknox__input:checked
  + .ip-chekbox__lable::after {
  @apply top-0 w-6 h-6;
  mask-size: 80%;
  mask-position: center;
  mix-blend-mode: difference;
}

.m-sub-prdname .m-search__ip {
  @apply border-t-0 border-l-0 border-r-0 rounded-none text-sm pl-6 border-b-[1px] border-b-[#DBDBDB] text-secondary;
  -webkit-appearance: none;
}
.m-sub-prdname .m-search__icon {
  @apply left-1 h-4 w-4 opacity-80;
}

.ip_checkbox-color {
  @apply bg-gray-400 p-2 w-[1.5rem] h-[1.5rem] rounded filter drop-shadow-[0px_0px_1px_#4a4a4a] self-center;
}

.m-prd-slidebar__viewmore {
  @apply text-xs font-medium text-primary block px-8 cursor-pointer;
}

.m-price-range__wrapper {
  @apply px-2;
}

.m-price-range-input__wrapper {
  @apply flex items-start gap-3 mt-3;
}

.m-price-range__ip {
  @apply border border-[#DBDBDB] px-2 py-1 rounded-md w-1/2 text-14 text-secondary font-medium;
}
.m-price-range-btn {
  @apply block text-right;
}
.btn-price-save {
  @apply border w-full mt-4 border-primary text-sm font-medium bg-white rounded-md px-3 py-1 text-primary hover:bg-primary hover:text-white;
}
.reset_filter {
  @apply flex mb-4 justify-start hover:underline underline pl-2;
}

/* filter sidebar css */
.pv-filter-main {
  @apply fixed bottom-0 w-[80%] left-0 right-0 grid grid-cols-2;
  animation: swiftUp 1s ease-in-out;
}

.pv-filter-main .pv-filter-btn {
  @apply w-full rounded-none bg-primary text-white;
}

@keyframes swiftUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
